In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({'K1':['one','two']*3+['two'],
                   'K2':[1,1,2,2,3,4,4]})

In [10]:
df1['v1']=np.arange(7)

In [11]:
df1

    K1  K2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   2   3
4  one   3   4
5  two   4   5
6  two   4   6

In [17]:
df1.duplicated(['K1','K2'])

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [23]:
dict1 = {'one':1,'two':2}

In [24]:
df1['K1'].map(dict1)

0    1
1    2
2    1
3    2
4    1
5    2
6    2
Name: K1, dtype: int64

In [1]:
import numpy as np

In [13]:
from random import randrange, uniform

# randrange gives you an integral value
irand = randrange(0, 10)

# uniform gives you a floating-point value
frand = uniform(0, 10)

In [42]:
for p in range (0,10):
    print (p)

0
1
2
3
4
5
6
7
8
9

In [ ]:
random.sample()

In [63]:
import random
for i in range(10):
    x=random.sample(range(0, 10), 9)
    print (x)

[2, 4, 0, 8, 9, 5, 3, 7, 1]
[3, 9, 0, 2, 5, 4, 6, 1, 8]
[3, 4, 2, 7, 6, 9, 1, 5, 0]
[8, 5, 4, 0, 3, 1, 9, 2, 6]
[4, 8, 7, 1, 2, 3, 9, 0, 6]
[2, 3, 5, 4, 7, 6, 9, 1, 8]
[7, 9, 4, 8, 2, 0, 1, 6, 3]
[1, 4, 6, 2, 8, 3, 7, 9, 0]
[5, 4, 7, 9, 6, 2, 3, 0, 1]
[3, 2, 8, 6, 9, 0, 7, 4, 5]